<div class="qnaModuleBackground">
    <div class="qnaQuestionArea">
        <div class="qnaQuestionBox">
            <label class="qnaPipeLable">|</label>
            <textarea class="qnaQuestionTextArea" rows="2">
                <%=questionBoxText%>
            </textarea>
        </div>
        <div class="qnaQuestionButtonsArea">
            <div class="qnaButtonsContainer">
                <button class="qnaPluginButton qnaSendButton controlBarBtn">s</button>
                <label class="qnaButtonsPipeLable">|</label>
                <button class="qnaPluginButton qnaCancelButton controlBarBtn">c</button>
            </div>
        </div>
    </div>

    <!--<div class="qnaAnnouncements">-->
    <!--</div>-->
    <ul class="qnaEntryList">
        <% for ( var i = 0; i < qnaEntryArray.length; i++ ) { %>
            <%var myIndex =  i;%>
            <%var qnaEntry =  qnaEntryArray[i];%>
            <li class="qnaEntryListLI" myIndex="<%=i%>">
            <div class="qnaEntry">
                <p class="qnaEntryTitle"><%=qnaEntry.title%></p>
                <p class="qnaEntryText"><%=qnaEntry.text%></p>
            </div>
            </li>
        <% } %>
    </ul>
</div>